@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Vazirmatn:wght@200;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Vazirmatn', 'Roboto', sans-serif;
  background: #f4e2dd;
  /* opacity: 0.5; */
}

.singup {
  border-radius: 100px;
  background: #5D50C6;
  padding: 6px 22px;
}

.linkA {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0.00);
}


.world {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 4px;
  border: 1px solid #EEE;
}

/* media */
@media(max-width:912px) {
  .nav-menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media(max-width:540px) {
  .containerBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .world {
    margin: auto;
  }

  .linkA {
    margin: auto;

  }
}